/* Bootstrap Overrides */
.modal {
  display:block;
  background-color: #00000063;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.invalid-feedback {
  display: block;
}

.alert {
  border-radius: 0;
}

a {
  color: #e19b4e;
}

a:not([href]):not([tabindex]) {
  color: #e19b4e;
} 

a:hover {
  color: #442317;
  text-decoration: none;
  cursor: pointer;
}

/* Custom CSS */

/* 

Palette

Brand-dark: #442317 

Brand-light: #e19b4e

*/

.heading-icon-link {
  margin-left: .5rem;
  vertical-align: super;
  cursor: pointer;
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
  color: #442317;
}

input.error, select.error {
  border-color: #dc3545;
}